body{

}
.bigbody{
    color: #36f7f7;
    font-size: 67px;
}
.valt{color: #04b0b0;
}

.fejlec {
    font-size: 38px;
    
}
.asd{color: #1bf5d4;
    font-style:initial;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
    font-size: 50px;}
