body{
 background-image: url(https://cdn.kibrispdr.org/data/78/design-black-background-28.jpg);
 background-position: right;
 background-repeat: repeat-y;
}
.bigbody{
    color: #36f7f7;
    font-size: 67px;
}
.valt{color: #04b0b0;
}

.fejlec {
    font-size: 38px;
    
}
.asd{color: #1bf5d4;
    font-style:initial;
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 40px;}

.elerheto{ color: red;
            text-align: left;
            padding: 50px;
            padding-left: 0px;}

.dolgozok{ color: red;
             text-align: right;
             padding: 50px;}

.kepek{
         height: 500px ;
         width: 500px;}

.img-thumbnail{background-color: #212529;
                border: none;}        
         

.kepnev{text-align: center;
        color: red;
        text-decoration:underline;}

.szoveg{color: #1bf5d4}
.asd1{
        margin-top: 30px;
        color: #04b0b0;
        text-decoration: underline;}
.asd2{margin-left: 30px;
        color: #04b0b0;}
.asd3{margin-left: -5px;
            color: #04b0b0;}

.napok{list-style-type: none;
        color: #04b0b0;}

.nyitvatartas{ text-decoration: underline;
                margin-top: 20px;
                color: #04b0b0;}

.sulyzo{width: 70%;
        margin-left: 100px;
        margin-top: 50px;}

.telo{width: 7%;}
.email{width: 6%;}
.hely{width: 10%;
       margin-left: -40px; }
.asd4{margin-left: 30px;
        color: #04b0b0;}

.tools{width: 30%;
       height: auto;}




.matecolor{color: white;}












































.szin{color: #1bf5d4;}


.leiras{color: #1bf5d4;
        font-style: italic;
        text-align: justify;
        font-size: 1.3rem;}

.Szemely1{float: right;
          height: 250px;}


.kepnev1{text-align: center;
        color: red;
        text-decoration: underline;}

.felsor{color: #1bf5d4;}



>>>>>>> 772bfde32240fd367de8f738e9366ddd960b19ae
